@model UnsocNetwork.Models.User;

<form asp-controller="User" asp-action="DeleteFriend" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn-sm">Убрать из друзей</button>
</form>