@model UnsocNetwork.Models.User;

<form asp-controller="AccountManager" asp-action="SendMessage" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn_submit">Написать сообщение</button>
</form>