@model UnsocNetwork.ViewModels.Account.SearchViewModel;

@foreach (var user in @Model.UserList)
{
    <div class="friendcontainer">
        <div class="row nowrap">
            <div class="main">
                <img class="ava" src="@user.PathToPhoto" />
            </div>
            <div class="side">
                @{
                    var idData = new Dictionary<string, string> { { "id", user.Id } };
                }
                <a asp-controller="User" asp-action="ShowPerson" asp-all-route-data="idData"><h5>@user.GetFullName()</h5></a>
            </div>
        </div>

        @if (!@user.IsCurrentUser)
        {
            @if (!@user.IsFriendWithCurrent)
            {
                <form asp-controller="User" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                    <input asp-for="SearchString" hidden />
                    <button type="submit" class="btn btn-sm btn-primary">Добавить в друзья</button>
                </form>
            }
            else
            {
                <label class="gray-text">Ваш друг</label>
            }
        } else
        {
            <label class="gray-text">Это вы =)</label>
        }
    </div>
    <hr />
}