@{
    ViewData["Title"] = "Главная";
    //@model UnsocNetwork.ViewModels.Account
}

<div class="row">
    <div class="side">
        <div class="center">
            <h1 class="display-4">Welcome</h1>
            <h2>To our amazing site (jeje) </h2>
        </div>
        <img class="main-img" src="~/static/img/welcome.png" />
    </div>

    <div class="main">
        <partial name="Login" />
        <partial name="Register" />
    </div>
</div>
<!--

<aside>
    <h3>Войти на сайт</h3>
    <input type="text" name="email" value="" placeholder="Ваш email" /><br />
    <input type="text" name="pass" value="" placeholder="Ваш пароль" /><br />
    <input type="checkbox" name="isRemember" /> Запомнить меня<br />
    <button name="goAuth">Войти</button>
    <br /><br />
    <h3>Зарегистрироваться</h3>
    Ваше имя: <br />
    <input type="text" name="name" value="" /><br />
    Ваша фамилия:<br />
    <input type="text" name="surmane" value="" /><br />
    <button name="goReg">Продолжить регистрацию</button><br />
</aside>

-->