﻿@using Microsoft.AspNetCore.Identity;
@using UnsocNetwork.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model UnsocNetwork.ViewModels.Account.MainViewModel
@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        <div class="center">
            <h1 class="display-4">@Model.RegStatusView.WelcomeMessage[0]</h1>
            <h2>@Model.RegStatusView.WelcomeMessage[1]</h2>
            <img class="main-img" src="~/static/img/welcome.png" />
        </div>
    </div>

    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="main">
            <partial name="Login" model="@Model.LoginView" />
            <partial name="Register" model="@Model.RegisterView" />
        </div>
    }
</div>