@{
    ViewData["Title"] = "Главная";
}

@model UnsocNetwork.ViewModels.Account.MainViewModel
<div class="row">
    <div class="side">
        <div class="center">
            <h1 class="display-4">@Model.RegStatusView.WelcomeMessage[0]</h1>
            <h2>@Model.RegStatusView.WelcomeMessage[1]</h2>
        </div>
        <img class="main-img" src="~/static/img/welcome.png" />
    </div>

    <div class="main">
        <partial name="Login" />
        <partial name="Register" />
    </div>
</div>
