@model UnsocNetwork.ViewModels.Account.LoginViewModel

<br />
<h2 class="text-danger center-align">
    Для доступа к данной странице небходимо авторизоваться
</h2>
<!--<a href="@Model.ReturnUrl"> &#060;&#060; Вернуться назад</a>-->
<br />
<partial name="Login" />