@model UnsocNetwork.ViewModels.Account.UserViewModel

<div class="background-white">
    <div class="main">
        --UserFullName--
    </div>
    --PHOTO-- <br />
    <a asp-asp-area="" asp-controller="AccountController" asp-action="MyProfile">--ChangeButton--</a>
    <div class="side">
        --UserInfo--
        Name: <br />
        LastName: <br />
        Birthdate: <br />

        Email: <br />
        <a asp-asp-area="" asp-controller="AccountController" asp-action="MyProfile">--AnotherChangeButton--</a>
    </div>
    <div>
        --FriendList--
    </div>
</div>
