﻿@using Microsoft.AspNetCore.Identity;
@using UnsocNetwork.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="AccountManager" asp-action="MyProfile">Личный кабинет</a>
}
else
{
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/Static/img/logo1.png" />
    </a>
}