@model UnsocNetwork.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<partial name="_ValidationScriptsPartial" />

<div class="block-reg background-white">
    <h3 class="center">Продолжение регистрации</h3>
    <form class="frm" method="post" asp-controller="Register" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mrgn">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="mrgn">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="text-color-gray text-size_12">Дата рождения (год месяц число)</div>
        <div class="mrgn">
            <input asp-for="Year" class="form-control date_control" />
            <input asp-for="Month" class="form-control date_control" />
            <input asp-for="Date" class="form-control date_control" />
            <br/>
            <span asp-validation-for="Year" class="text-danger"></span> 
            <span asp-validation-for="Month" class="text-danger"></span> 
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        
        <!--
        <div class="text-color-gray text-size_12">Дата рождения (год месяц число)</div>
        <div class="mrgn center">
            <select asp-for="Year" class="form-control date_control" ID="ddlYear"
                    asp-items="Enumerable.Range(DateTime.Now.AddYears(-100).Year, DateTime.Now.AddYears(-14).Year - DateTime.Now.AddYears(-100).Year).
                    Reverse().Select(x=> new SelectListItem(x.ToString(), x.ToString()))"
                    onchange="PopulateDays()">
                <option value="">Year</option>
            </select>
            <span asp-validation-for="Year" class="text-danger"></span>

            <select asp-for="Month" class="form-control date_control"
                    asp-items="Html.GetEnumSelectList<UnsocNetwork.ViewModels.Months>()"
                    onchange="PopulateDays()" ID="ddlMonth">
                <option value="">@Model.Month</option>
            </select>
            <span asp-validation-for="Month" class="text-danger"></span>

            <select asp-for="Date" class="form-control date_control" ID="ddlDay">
                <option value="">@Model.Date</option>
            </select>
            <span asp-validation-for="Date" class="text-danger"></span>
            <script>
                PopulateDays()
            </script>
        </div>
        -->
        <div>
            <div class="mrgn">
                EMail:<br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="mrgn">
                Пароль:<br />
                <input asp-for="PasswordReg" class="form-control" />
                <span asp-validation-for="PasswordReg" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="mrgn">
                Подтверждение пароля:
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
        </div>
        <div class="center">
            <input class="btn_submit" type="submit" value="Регистрация" />
        </div>
    </form>

</div>